{% extends 'core/base.html' %}

{% block title %}Home - App Review Search{% endblock %}

{% block content %}
    <div class="search-container">
{#        <h2>Search for an App</h2>#}
{#        <form id="searchForm" action="{% url 'search_apps' %}" method="get">#}
{#            <input type="text" id="searchInput" name="q" placeholder="Type app name..." class="search-input">#}
{#            <button type="submit" class="search-button">Search</button>#}
{#            <ul id="suggestionsList" class="suggestions" style="display: none;"></ul>#}
{#        </form>#}
    </div>
{% endblock %}